{% comment %}
  Renders an eyebrow element with styling.

  Accepts:
  - text: {text} Text to display
  - (Optional) text_style: {select option} Style to apply to text.
  - (Optional) text_color: {color} Color to apply to text.
  - (Optional) class: {string} Class attribute for eyebrow.

  Usage:
  {% render 'eyebrow',
  text: block.settings.text,
  text_style: block.settings.text_style,
  text_color: block.settings.text_color,
  class: "section-name__eyebrow"
  heading_type: block.settings.eyebrow_heading
  %}
{% endcomment %}

{% unless text == blank %}
  <div class="{{ class }} {{ text_style }} {% unless section.settings.animation contains 'No' %} animated{% endunless%} {{ section.settings.animation }}" style="color: {{ text_color }};" data-block-id="{{ block.id }}" {{ block.shopify_attributes }}>
    {%- if heading_type == 'eyebrow--h1' %}
      <h1>{{ text }}</h1>
    {%- elsif heading_type == 'eyebrow--h2' -%}
      <h2>{{ text }}</h2>
    {%- elsif heading_type == 'eyebrow--h3' -%}
      <h3>{{ text }}</h3>
    {%- elsif heading_type == 'eyebrow--h4' -%}
      <h4>{{ text }}</h4>
    {%- elsif heading_type == 'eyebrow--h5' -%}
      <h5>{{ text }}</h5>
    {%- elsif heading_type == 'eyebrow--h6' -%}
      <h6>{{ text }}</h6>
    {%- else -%}
      {{ text }}
    {%- endif -%}
  </div>
{% endunless %}
